.SnackbarItem-variantSuccess-17 {
    color: #fff;
    background-color: #158cbc !important;
}
.SnackbarItem-variantSuccess-31 {
    color: #fff;
    background-color: #158cbc !important;
}

/* login */
